# Data Exploration

In [1]:
import pandas as pd


train = pd.read_csv('train.csv',index_col='ID')
train.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
ID,,,,,,,,,,,,,,,,,,,,,
1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

So we have imported the dataset. Let's look at the shape of the dataset

In [2]:
train.shape

(76020, 370)

In [3]:
train.describe()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,3.160715,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,95.268204,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,8237.820000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [4]:
train.columns

Index(['var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3', 'imp_op_var40_ult1',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=370)

In [5]:
train.dtypes

var3                         int64
var15                        int64
imp_ent_var16_ult1         float64
imp_op_var39_comer_ult1    float64
imp_op_var39_comer_ult3    float64
                            ...
saldo_medio_var44_hace3    float64
saldo_medio_var44_ult1     float64
saldo_medio_var44_ult3     float64
var38                      float64
TARGET                       int64
Length: 370, dtype: object

In [6]:
train.dtypes.unique()

array([dtype('int64'), dtype('float64')], dtype=object)

We have no categorical variables Now let's look at the null value situation

In [7]:
train.isnull().sum()

var3                       0
var15                      0
imp_ent_var16_ult1         0
imp_op_var39_comer_ult1    0
imp_op_var39_comer_ult3    0
                          ..
saldo_medio_var44_hace3    0
saldo_medio_var44_ult1     0
saldo_medio_var44_ult3     0
var38                      0
TARGET                     0
Length: 370, dtype: int64

In [8]:
train.isnull().sum().unique()

array([0], dtype=int64)

We can confirm that there are no null values or categorical variables and thus no requirement for cleaning the data

# Vanilla Model - No Data Engineering

Splitting the target variable and inputs

In [9]:
y = train.TARGET
y.head()

ID
1     0
3     0
4     0
8     0
10    0
Name: TARGET, dtype: int64

In [10]:
x = train.drop(['TARGET'],axis=1) 
x.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
ID,,,,,,,,,,,,,,,,,,,,,
1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

Let's first attempt to build a plain vanilla model with no feature engineering whatsoever.

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_val, Y_train, Y_val = train_test_split(x,y,train_size=0.65,test_size=0.35,random_state=0)

### Vanilla model - Decision Tree

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_absolute_error


model = DecisionTreeClassifier(random_state=1)
model.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [13]:
preds = model.predict(X_val)

In [14]:
from sklearn import metrics

print(metrics.classification_report(preds,Y_val))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     25540
           1       0.12      0.12      0.12      1067

    accuracy                           0.93     26607
   macro avg       0.54      0.54      0.54     26607
weighted avg       0.93      0.93      0.93     26607

This is a pretty horrible model. Although one might think that 93% accuracy is pretty good, we have to consider the precision and recall scores for both the classes - which is truly pathetic.

To emphasize that the problem lies in the dataset and not in the model chosen, let's use logistic regression to model this data

In [15]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=1)

lr.fit(X_train,Y_train)
print(metrics.classification_report(lr.predict(X_val),Y_val))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

              precision    recall  f1-score   support

           0       1.00      0.96      0.98     26607
           1       0.00      0.00      0.00         0

    accuracy                           0.96     26607
   macro avg       0.50      0.48      0.49     26607
weighted avg       1.00      0.96      0.98     26607

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

This confirms our problem - Imbalanced Dataset

In [16]:
print(y.value_counts())

0    73012
1     3008
Name: TARGET, dtype: int64

# Tackling Imbalanced Dataset problem

There are various ways one way can attack an imbalanced dataset problem. We discuss two

1. Resampling Dataset : Under-sampling the majority class or over-sampling the minority class
2. Using an ensemble model to achieve better generalization

## Resampling

### Resampling : Under-sampling of majority class

In [17]:
train.TARGET.value_counts(normalize=True)

0    0.960431
1    0.039569
Name: TARGET, dtype: float64

Class 0 accounts for 96% of the dataset. Let's bring this down by selecting a subsample of class 0 to train with on class 1.

In [18]:
### General Function to randomly sample N*x , where N is the ratio of class 0 to class 1 points and 
### x is the number of class 1 points

def under_sampler(N,x = train.TARGET.value_counts()[1]):
    class_0 = train[train['TARGET']==0].sample( int(N*x) ,random_state=1)
    class_1 = train[train['TARGET']==1]
    return pd.concat([class_0,class_1],axis=0)

train_new = under_sampler(4)
train_new.shape

(15040, 370)

In [19]:
X = train_new.drop(columns='TARGET')
y = train_new.TARGET

X_train, X_val, y_train, y_val = train_test_split(X,y,random_state=1,train_size=0.8)

model.fit(X_train,y_train)
preds = model.predict(X_val)
print(metrics.classification_report(preds,y_val))

              precision    recall  f1-score   support

           0       0.85      0.86      0.86      2371
           1       0.46      0.44      0.45       637

    accuracy                           0.77      3008
   macro avg       0.66      0.65      0.65      3008
weighted avg       0.77      0.77      0.77      3008

In [20]:
print(metrics.roc_auc_score(preds,y_val))

0.6498261634732082

We already see tremendous improvement here in terms of precision , recall and Roc score

Let's now experiment with different ratios in 1 to 5 in increments of 1

In [21]:
import numpy as np

In [22]:
for N in np.arange(1.0,5.0,0.5):
    train_new = under_sampler(N)
    X = train_new.drop(columns='TARGET')
    y = train_new.TARGET

    X_train, X_val, y_train, y_val = train_test_split(X,y,random_state=1,train_size=0.8)

    model.fit(X_train,y_train)
    preds = model.predict(X_val)
    print("The ratio of majority to minor class is ",N)
    print(metrics.classification_report(preds,y_val))

The ratio of majority to minor class is  1.0
              precision    recall  f1-score   support

           0       0.69      0.68      0.69       619
           1       0.67      0.68      0.67       585

    accuracy                           0.68      1204
   macro avg       0.68      0.68      0.68      1204
weighted avg       0.68      0.68      0.68      1204

The ratio of majority to minor class is  1.5
              precision    recall  f1-score   support

           0       0.75      0.73      0.74       915
           1       0.60      0.62      0.61       589

    accuracy                           0.69      1504
   macro avg       0.68      0.68      0.68      1504
weighted avg       0.69      0.69      0.69      1504

The ratio of majority to minor class is  2.0
              precision    recall  f1-score   support

           0       0.79      0.79      0.79      1207
           1       0.57      0.56      0.57       598

    accuracy                           0.72      1805
   macro avg       0.68      0.68      0.68      1805
weighted avg       0.72      0.72      0.72      1805

The ratio of majority to minor class is  2.5
              precision    recall  f1-score   support

           0       0.81      0.82      0.82      1509
           1       0.53      0.51      0.52       597

    accuracy                           0.73      2106
   macro avg       0.67      0.67      0.67      2106
weighted avg       0.73      0.73      0.73      2106

The ratio of majority to minor class is  3.0
              precision    recall  f1-score   support

           0       0.83      0.83      0.83      1800
           1       0.49      0.48      0.49       607

    accuracy                           0.74      2407
   macro avg       0.66      0.66      0.66      2407
weighted avg       0.74      0.74      0.74      2407

The ratio of majority to minor class is  3.5
              precision    recall  f1-score   support

           0       0.84      0.85      0.85      2088
           1       0.47      0.44      0.46       620

    accuracy                           0.76      2708
   macro avg       0.66      0.65      0.65      2708
weighted avg       0.75      0.76      0.76      2708

The ratio of majority to minor class is  4.0
              precision    recall  f1-score   support

           0       0.85      0.86      0.86      2371
           1       0.46      0.44      0.45       637

    accuracy                           0.77      3008
   macro avg       0.66      0.65      0.65      3008
weighted avg       0.77      0.77      0.77      3008

The ratio of majority to minor class is  4.5
              precision    recall  f1-score   support

           0       0.86      0.87      0.86      2673
           1       0.42      0.40      0.41       636

    accuracy                           0.78      3309
   macro avg       0.64      0.64      0.64      3309
weighted avg       0.78      0.78      0.78      3309

The trade-off between class 0 and class 1 precision scores are clear. For now an optimal solution seems like using a ratio of 3:1 for under-sampling. Let's move on to over-sampling and reviewing it's results

### Resampling : Over-Sampling of minority class

There are majorly two ways one can achieve this
1. Repition of class 1 data points
2. SMOTE (Synthetic Minoirity Oversampling Technique)

##### Repitition

Let's multiply the amount of class 1 points by two. The problem with this approach is that it risks overfitting since the classifier sees the same data over and over again (to be more precise, it sees it twice).

In [23]:
train.TARGET.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [24]:
train_new = train.copy()

train_new = pd.concat([train_new,train_new[train_new.TARGET == 1]],axis=0)
train_new.TARGET.value_counts()

0    73012
1     6016
Name: TARGET, dtype: int64

In [25]:
X = train_new.drop(columns='TARGET')
y = train_new.TARGET

X_train,X_val,y_train,y_val = train_test_split(X,y,random_state=1,train_size=0.8)

In [26]:
model.fit(X_train,y_train)
preds = model.predict(X_val)
print(metrics.classification_report(preds,y_val))

              precision    recall  f1-score   support

           0       0.96      0.98      0.97     14290
           1       0.75      0.59      0.66      1516

    accuracy                           0.94     15806
   macro avg       0.85      0.78      0.81     15806
weighted avg       0.94      0.94      0.94     15806

In [27]:
metrics.roc_auc_score(preds,y_val)

0.7846178666189061

Surprisingly, we find better class 1 precision and recall scores without any effect on class 0 scores. Can we achieve better results while utilizing SMOTE?

#### SMOTE (Synthetic Minority Oversampling Technique)

In [28]:
from imblearn.over_sampling import SMOTE

Using TensorFlow backend.

In [29]:
from collections import Counter

In [30]:
print("Ratio of minority to majority class points",train.TARGET.value_counts()[1]/train.TARGET.value_counts()[0])

Ratio of minority to majority class points 0.04119870706185284

In [31]:
### CAUTION : Change n_jobs to match the number of threads that runs on your CPU. I have a CPU running 6 cores and 12 threads
### and hence assinged n_jobs = 12. If you aren't sure of the number of threads on your CPU, remove the parameter n_jobs.

sm = SMOTE(random_state=1,n_jobs=12,sampling_strategy = 0.25)# ratio of resampled minority class points to majority class points

X_resampled, y_resampled = sm.fit_resample(X,y)
print("Before sampling : ",Counter(y),"\nAfter Sampling : ",Counter(y_resampled))

Before sampling :  Counter({0: 73012, 1: 6016})
After Sampling :  Counter({0: 73012, 1: 18253})

In [32]:
X_train,X_val,y_train,y_val = train_test_split(X_resampled,y_resampled,random_state=1,train_size=0.8)

model.fit(X_train,y_train)
preds = model.predict(X_val)
print(metrics.classification_report(preds,y_val))

              precision    recall  f1-score   support

           0       0.94      0.98      0.96     14090
           1       0.91      0.79      0.84      4163

    accuracy                           0.93     18253
   macro avg       0.92      0.88      0.90     18253
weighted avg       0.93      0.93      0.93     18253

In [33]:
metrics.roc_auc_score(preds,y_val)

0.882462804315349

A much better solution overall. We have greatly improved our scores using SMOTE. Now , what if we both under-sample majority class points and over sample minority class points after adjusting for ratios?

In [34]:
test = pd.read_csv('test.csv',index_col='ID')
test.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
ID,,,,,,,,,,,,,,,,,,,,,
2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [35]:
predictions = model.predict(test)

In [36]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [37]:
out =pd.DataFrame({'ID':test.index,'TARGET':predictions})
out.set_index('ID',inplace=True)

In [38]:
out

        TARGET
ID
2            0
5            0
6            0
7            0
9            0
...        ...
151831       1
151832       1
151833       0
151834       0
151837       0

[75818 rows x 1 columns]

In [39]:
out.to_csv("Predictions1.csv",index=True)

On kaggle this gives us a score of 0.58 auc

### Resampling : Both undersampling and oversampling

Let's under sample majojrity class points and over sample minority class points using SMOTE

Under-sampling : Take a sample of 4 times the number of minority class points

In [40]:
train_new = under_sampler(6)

X = train_new.drop(columns='TARGET')
y = train_new.TARGET

y.value_counts()

0    18048
1     3008
Name: TARGET, dtype: int64

The ratio of minority to majority class points is now 0.25 (1/4). Let's use SMOTE to bring this upto 0.5

In [41]:
sm = SMOTE(random_state=1,n_jobs=12,sampling_strategy = 0.4)

X_resampled, y_resampled = sm.fit_resample(X,y)
print("Before sampling : ",Counter(y),"\nAfter Sampling : ",Counter(y_resampled))

Before sampling :  Counter({0: 18048, 1: 3008})
After Sampling :  Counter({0: 18048, 1: 7219})

Now let's train the model and see

In [42]:
X_train,X_val,y_train,y_val = train_test_split(X_resampled,y_resampled,random_state=1,train_size=0.8)

model.fit(X_train,y_train)
preds = model.predict(X_val)
print(metrics.classification_report(preds,y_val))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88      3584
           1       0.71      0.70      0.71      1470

    accuracy                           0.83      5054
   macro avg       0.80      0.79      0.79      5054
weighted avg       0.83      0.83      0.83      5054

In [43]:
metrics.roc_auc_score(preds,y_val)

0.7932637117346938

In [44]:
predictions = model.predict(test)
out =pd.DataFrame({'ID':test.index,'TARGET':predictions})
out.set_index('ID',inplace=True)
out.to_csv('Predicitions2.csv',index=True)

On kaggle this gives us a score of 0.61 auc

Let's try a couple of different combinations for sampling strategy in SMOTE

In [45]:
train.TARGET.value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [46]:
train_new = under_sampler(10)

X = train_new.drop(columns='TARGET')
y = train_new.TARGET

In [47]:
max_auc = 0
for i in np.arange(0.2,1,0.1):
    sm = SMOTE(random_state=1,n_jobs=12,sampling_strategy = i)
    X_resampled, y_resampled = sm.fit_resample(X,y)
    #print("Before sampling : ",Counter(y),"\nAfter Sampling : ",Counter(y_resampled))
    X_train,X_val,y_train,y_val = train_test_split(X_resampled,y_resampled,random_state=1,train_size=0.8)

    model.fit(X_train,y_train)
    preds = model.predict(X_val)
    #print(metrics.classification_report(preds,y_val))
    auc = metrics.roc_auc_score(preds,y_val)
    if auc>max_auc:
        max_auc = auc
        SMOTE_ratio = i
        
print("Optimal Soltution -\nAUC Score : ",max_auc,"\nSMOTE Ratio : ",SMOTE_ratio)

Optimal Soltution -
AUC Score :  0.9025360118171728
SMOTE Ratio :  0.9000000000000001

In [48]:
sm = SMOTE(random_state=1,n_jobs=12,sampling_strategy = 0.9)
X_resampled, y_resampled = sm.fit_resample(X,y)
print("Before sampling : ",Counter(y),"\nAfter Sampling : ",Counter(y_resampled))
X_train,X_val,y_train,y_val = train_test_split(X_resampled,y_resampled,random_state=1,train_size=0.8)

model.fit(X_train,y_train)
preds = model.predict(X_val)
print(metrics.classification_report(preds,y_val))

Before sampling :  Counter({0: 30080, 1: 3008})
After Sampling :  Counter({0: 30080, 1: 27072})
              precision    recall  f1-score   support

           0       0.90      0.91      0.91      6012
           1       0.90      0.89      0.90      5419

    accuracy                           0.90     11431
   macro avg       0.90      0.90      0.90     11431
weighted avg       0.90      0.90      0.90     11431

In [49]:
metrics.roc_auc_score(preds,y_val)

0.9025360118171728

In [50]:
predictions = model.predict(test)

out =pd.DataFrame({'ID':test.index,'TARGET':predictions})
out.set_index('ID',inplace=True)
out.to_csv('Predicitions3.csv',index=True)

We get a kaggle score of only 0.6 auc

## Ensemble models

### Random Forest

The simplest ensemble model? Random Forest. Let's try that out

In [51]:
X_train, X_val, y_train, y_val = train_test_split(X,y,train_size=0.8,random_state=1)

In [52]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators = 100,n_jobs = 12,random_state=1)
rfc.fit(X_train,y_train)
preds = rfc.predict(X_val)
print(metrics.classification_report(preds,y_val))

              precision    recall  f1-score   support

           0       0.97      0.92      0.95      6353
           1       0.17      0.38      0.24       265

    accuracy                           0.90      6618
   macro avg       0.57      0.65      0.59      6618
weighted avg       0.94      0.90      0.92      6618

In [53]:
metrics.roc_auc_score(preds,y_val)

0.6525525008241538

These are still bad scores - especially precision and recall rates

Let's combine our previous best method of under-sampling and over-sampling with RFC

In [54]:
train_new = under_sampler(6)

X = train_new.drop(columns='TARGET')
y = train_new.TARGET
sm = SMOTE(random_state=1,n_jobs=12,sampling_strategy = 0.4)

X_resampled, y_resampled = sm.fit_resample(X,y)
#print("Before sampling : ",Counter(y),"\nAfter Sampling : ",Counter(y_resampled))
X_train,X_val,y_train,y_val = train_test_split(X_resampled,y_resampled,random_state=1,train_size=0.8)

rfc.fit(X_train,y_train)
preds = rfc.predict(X_val)
print(metrics.classification_report(preds,y_val))

              precision    recall  f1-score   support

           0       0.94      0.89      0.91      3830
           1       0.70      0.83      0.76      1224

    accuracy                           0.87      5054
   macro avg       0.82      0.86      0.84      5054
weighted avg       0.88      0.87      0.88      5054

In [55]:
metrics.roc_auc_score(preds,y_val)

0.8588969095035752

In [56]:
predictions = rfc.predict(test)

out =pd.DataFrame({'ID':test.index,'TARGET':predictions})
out.set_index('ID',inplace=True)
out.to_csv('Predicitions4.csv',index=True)